# Minecraft junk
logs/
crash-reports/
saves/
screenshots/
shaderpacks/
resourcepacks/

# Mods
mods/
emojiful/
esm/
*.xwmc
*.outdated
*_c.*
*_a.*
moonlight-global-datapacks/
schematics/
journeymap
downloads/
defaultconfigs/
datapacks/
data/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
local/
xaero/
XaeroWaypoints_*/

# Instance launchers
instance.cfg
mmc-pack.json

# OS junk
.DS_Store
Thumbs.db

# Java cache
*.log
.curseclient
command_history.txt
usercache.json
usernamecache.json

# Personal / launcher files
minecraftinstance.json
*.dat