# Minecraft junk
logs/
crash-reports/
saves/
screenshots/
shaderpacks/
resourcepacks/
local/

# Mods
mods/
emojiful/
esm/
*.xwmc
*.outdated

# KubeJS (KEEP THIS)
!kubejs/

# Instance launchers
instance.cfg
mmc-pack.json

# OS junk
.DS_Store
Thumbs.db

# Java cache
*.log
.curseclient
command_history.txt
usercache.json
usernamecache.json

# Personal / launcher files
minecraftinstance.json
options.txt